body::before {
    display: block;
    content: '';
    height: 80px;
}

/* banner text aligned centered */
.textCarousel {
    top: 30% !important;
    bottom: auto !important;
}

/* banner text responsive */
@media screen and (min-width:360px) and (max-width:576px) {
    .responsive-text {
        padding-bottom: 0.25rem !important;
    }

    .textCarousel {
        top: 0% !important;
    }
}

@media screen and (min-width:768px) {
    .textCarousel h3 {
        font-size: 50px;
    }
}